$a-tags: 'a, a:active, a:hover, a:visited';

.mail-list {
    #{$a-tags} {
        color: #212529;
        text-decoration: none;
    }
}

.mails-container {
    background-color: #fff;
    padding: 1rem;
}

@media (min-width: 768px) {
    .mails-container {
        width: 700px;
    }
}
