@import 'variables.scss';

html, body {
    height: 100%;
}

body {
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 700px;
}

fa-icon {
    cursor: pointer;
}

.ng-touched.ng-invalid {
    @extend .is-invalid;
}

.ng-touched.ng-valid {
    @extend .is-valid;
}

